/*<=================== LOADING THE GOOGLE FONTS =======> */

@font-face {
  font-family: "Figtree", sans-serif;
  src: url(../assets/fonts/static/Figtree-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Figtree", sans-serif;
  src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
}
